In [2]:
#importing necessary library
import pandas as panda
import warnings

warnings.filterwarnings('ignore')

#reading datasets
movie = panda.read_csv('u.item',sep="\|",header=None,encoding="ISO-8859-1")
movie = movie[[0,1]]
movie.columns = ['item_id','Movie_Title']
datas = panda.read_csv('u.data', sep="\t", names=['user_id', 'item_id', 'rating', 'timestamp'])

#merges datasets
datas = panda.merge(datas,movie,on="item_id")

#data table for rating
Movie_ratings=panda.DataFrame(datas.groupby('Movie_Title').mean()['rating'])
Movie_ratings['No.of ratings']=panda.DataFrame(datas.groupby('Movie_Title').count()['rating'])
Movie_ratings.head()

movie_matrics = datas.pivot_table(index="user_id",columns="Movie_Title",values="rating")

#defining function to predict movie
def predict_movies(movie_name):
    viewer_ratings = movie_matrics[movie_name]
    similar_movie = movie_matrics.corrwith(viewer_ratings)
    movie_pred = panda.DataFrame(similar_movie,columns=['Correlation'])
    movie_pred.dropna(inplace=True)
    movie_pred = movie_pred.join(Movie_ratings['No.of ratings'])
    
    return movie_pred[movie_pred['No.of ratings']>100].sort_values('Correlation',ascending=False)

movie_name = input("Enter Movie Title: ")
predict = predict_movies(movie_name)
print("\nTop 5 movies related to ",movie_name)
predict.head()

Enter Movie Title: Titanic (1997)

Top 5 movies related to  Titanic (1997)

                              Correlation  No.of ratings
Movie_Title
Titanic (1997)                   1.000000            350
River Wild, The (1994)           0.497600            146
Abyss, The (1989)                0.472103            151
Bram Stoker's Dracula (1992)     0.443560            120
True Lies (1994)                 0.435104            208